@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
html,body {
    margin:0;
    padding:0;
    flex-wrap: wrap;
}
body {
    background-color: rgb(46, 43, 43);
    color: white;
}
.container {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
}

.head {
    display: flex;
    margin: 0px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 44px;
}

.heading {
    font-size: 30px;
    margin: 0px;
}

.values {
    font-size: 100px;
    margin: 10px;
}

.bottom {
    margin: 0px;
}

.info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    color: black;
    font: 500;
}
.newColorButton {
    padding: 4px 0px;
}
.easy {
    display: flex;
    width: 3.5vw;
    padding: 4px 0px;
    justify-content: center;
}
.easy:hover {
    cursor: pointer;
    background-color: rgba(59, 185, 97, 0.623);
}
.hard {
    display: flex;
    width: 3.5vw;
    padding: 4px 0px;
    justify-content: center;
}
.hard:hover {
    cursor: pointer;
    background-color: rgba(59, 185, 97, 0.623);
}
.newColorButton:hover {
    cursor: pointer;
    background-color: rgba(59, 185, 97, 0.623);
}
.level {
    display: flex;
    flex-wrap: wrap;
    width: 8vw;
    justify-content: space-evenly;
}

.gamingArea {
    display: flex;
    justify-content: center;
}
.gameContainer {
    height: 414px;
    width: 671px;
    padding: 40px;
    margin: 83px 0px;
}
.gamingGrid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 671px;
    grid-template-columns: auto auto auto;
}
.upperRow {
    display: flex;
}
.lowerRow {
    display: flex;
}

.grid-item {
    height: 200px;
    width: 213px;
    margin: 6px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    transition: 0.2s ease-in-out 0s;
    transform-origin: center center;

}
.grid-item:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05, 1.05);
}

.afterWin {
    height: 200px;
    width: 213px;
    margin: 6px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}
@keyframes deleteBox-animate {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        background-color: rgb(46, 43, 43) !important;
    }
}
.deleteBoxAnimate {
    animation: deleteBox-animate 0.3s linear;
}
.deleteBox {
    height: 200px;
    width: 213px;
    margin: 6px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background-color: rgb(46, 43, 43) !important;
}

@keyframes append-animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;	
    }
}
@keyframes delete-animate {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;	
    }
}
.success {
    display: flex;
    width: 671px;
    background-color: rgb(13, 233, 13);
    align-items: center;
    height: 40px;
    font-weight: 900;
    border-radius: 10px;
    justify-content: center;
}
.append {
    animation: append-animate 0.3s linear;
}
.delete {
    animation: delete-animate 0.3s linear;
}
